<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.projetfin">

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ProjetFin">
        <activity
            android:name=".Database.AddUserActivity"
            android:exported="true" />
        <activity
            android:name=".ExerciceTime.EndActivity"
            android:exported="true" />
        <activity
            android:name=".ExerciceTime.ExerciceTimedActivity"
            android:exported="true" />
        <activity
            android:name=".ExerciceCalcul.ExerciceCalculActivity"
            android:exported="true" />
        <activity
            android:name=".ExerciceMultiplication.ExerciceMultiplicationActivity"
            android:exported="true" />
        <activity
            android:name=".ExerciceCalcul.FelicitationActivity"
            android:exported="true" />
        <activity
            android:name=".ExerciceCalcul.ErreurActivity"
            android:exported="true" />
        <activity
            android:name=".ExerciceMultiplication.TableMultiplicationActivity"
            android:exported="true" />
        <activity
            android:name=".ExercicesActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>